html,
body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    color: #c8c8c8;
    overflow: hidden;
    background-color: #505050;
    font-family: 'Helvetica', 'Arial', sans-serif;
}

.bg {
    background-color: rgba(0, 0, 0, 0.5);
}

#panelView {
    position: absolute;
    width: 100%;
    height: 100%;
    display: block;
    overflow: hidden;
}

#panelBottom {
    position: absolute;
    bottom: 18px;
    width: 100%;
    height: 80px;
    overflow: hidden;
}

#panelDate {
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    height: 20px;
    line-height: 20px;
    font-size: 18px;
}

#panelSlider {
    position: absolute;
    bottom: 10px;
    left: 10px;
    right: 10px;
    height: 30px;
    line-height: 30px;
}

.dijitSliderBar {
    border-style: solid;
    border-color: black;
    background-color: #787878;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}

.dijitSliderImageHandle {
    margin: 0;
    padding: 0;
    position: relative !important;
    border: 8px solid #ffffff;
    width: 0;
    height: 0;
    border-radius: 8px;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}

#panelSettings {
    position: absolute;
    top: 10px;
    right: -240px;
    width: 240px;
    height: 500px;
    font-size: 12px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.open {
    right: 0px !important;
}

#icon {
    position: absolute;
    left: -40px;
    top: 10px;
    width: 40px;
    height: 48px;
    border-radius: 24px 0 0 24px;
    line-height: 48px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 18px;
    background-image: url(../img/gear.png);
    cursor: pointer;
}

.inner {
    position: absolute;
    left: 10px;
    right: 10px;
    top: 10px;
    bottom: 10px;
}

.row {
    width: 100%;
    height: 24px;
    line-height: 24px;
}

.switch {
    float: left;
    width: 50%;
    text-align: center;
    background-color: #6e6e6e;
    border-radius: 3px;
    cursor: pointer;
}

.on {
    background-color: #ffffff;
}

.swatch {
    float: right;
    width: 18px;
    height: 18px;
    cursor: pointer;
    margin: 2px;
    border: 1px solid #ffffff;
}

.dijitColorPalette {
    border: none !important;
    background: transparent !important;
}

.dijitColorPalette .dijitColorPaletteSwatch {
    height: 12px;
    width: 12px;
}

.dijitColorPalette .dijitPaletteImg {
    border: none !important;
}
